<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjbS5OXKsE2BFt_RKJHwZwXJOK3B15nXU</string>
	<key>GCM_SENDER_ID</key>
	<string>844336216561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.cookbookIa</string>
	<key>PROJECT_ID</key>
	<string>cookbookia</string>
	<key>STORAGE_BUCKET</key>
	<string>cookbookia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844336216561:ios:e949cce3aff8d56dc5ac50</string>
</dict>
</plist>